@font-face {
    font-family: 'KaushanScript';
    src: url('../fonts/KaushanScript-Regular.ttf') format("truetype");
}

.dashboard-outer {
    background-color: none;
    width: 100%;
    height: 100%;
}

.dashboard__background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)),
                  url(".././images/xavier-l-_3xRXB_CF5w-unsplash\(2\).jpg");
    background-position: center;
    height: 100%;
}

.dashboard-wrapper {
    background-color: rgba(240, 237, 238, 0.786);;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;;
    width: 90%;
    border-radius: 10px;
    border: solid rgb(41, 93, 78) 19px;
    padding: 20px;
}

h1 {
    font-family: 'KaushanScript';
    font-size: 5vw;
    transform: rotate(-10deg);
    color: #4f71c8;
    padding-bottom: 50px;
    margin-left: -10px;
    text-align: center;

}

