.header__outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color:#2C4251;
    border-radius: 10px;
}

.header__prefrences {
    margin-left: 35px;
}

.header__link {
    all: unset;
    cursor: pointer;
    color: #a6ac8c;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}


.header__logout {
     margin-right: 35px;
}

.header__button {
    all: unset;
    cursor: pointer;
    color: #a6ac8c;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}