.header__outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color:#2C4251;
    border-radius: 10px;
}


.header__logout {
     margin-right: 40px;
}