@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


h1 {
    font-family: 'raleway';
    font-size: 5vw;
    color: tomato;
    margin-bottom: 20px;
    text-align: center;
}

.login__outer {
    background-color: none;
    width: auto;
    height: 100vh;
}

.login__background-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(".././images/xavier-l-_3xRXB_CF5w-unsplash\(2\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.login-box{
    background-color: rgba(240, 237, 238, 0.786);;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    border: 5px solid white;
}

.login__button-div {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}

.login__button-box {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.login__button {
    width: 20%;
    all: unset;
    cursor: pointer;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: none;
    display: block;
    margin-right: 10px;
    background-color: tomato;
    border-radius: 10px;
    transition: 0.5s;
}

.login__button:hover {
    transform: scale(1.1);
}

.login__input-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.login__input-field {
    width: 90%;
    all: unset;
    margin-left: 20px;
    padding: 5px;
    background-color: #5c604d5e;
    border-radius: 10px;
    font-family: 'raleway';
    caret-color: transparent;
    text-align: center;
    transition: 1s;

}
.login__input-field:focus {
    border: solid 2px tomato;
}

.login__input-field:hover {
    cursor: pointer;
    background-color: #5c604d97;
    transition: 200ms;
}


.login__input-user {
    all: unset;
    width: 100%;
    margin-top: 4px;
}